@CHARSET "UTF-8";

.avatarpop {
	width: 800px;
	height: 500px;
}

.avatarpop .proposition {
	border: dotted white;
}

.avatarpop .diapo {
	overflow: auto;
	height: 136px;
}

.avatarpop img.choice {
	border: 1px dotted;
	margin: 2px;
	cursor: pointer;
	width: 128px;
	height: 128px;
}

.avatarpop img.choice:hover {
	border: 1px solid;
}

img.avatarItem {
	width: 28px;
	height: 28px;
	float: left;
}

div.message {
	
}

span.nick {
	margin-left: 2px;
}

div.avatarMessage {
	border: thin solid white;
	margin: 4px 10px;
	min-height: 28px;
	padding: 2px 4px;
	-moz-box-shadow: 10px 10px 5px #656565;
	-webkit-box-shadow: 10px 10px 5px #656565;
	-o-box-shadow: 10px 10px 5px #656565;
	box-shadow: 10px 10px 5px #656565;
}

#color {
	width: 60px;
}

#colorborder {
	width: 60px;
}

#colordiv {
	display: none;
}

#colordivborder {
	display: none;
}